<a href="https://colab.research.google.com/github/nganphan-678/NganPhan.github.io./blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print (''Hello World'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3636707300.py, line 1)

In [2]:
score = 80
if score >= 60
    print ("Pass")

SyntaxError: expected ':' (ipython-input-4121688620.py, line 2)

In [3]:
score = 80
if score >=60 :
   print ("Pass")

Pass

In [4]:
#Python Variable
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)
print(f'x = {x, type(x)}, price={price, type(price)}, word={word, type(word)}')

2 2.5 Hello
x = (2, <class 'int'>), price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [5]:
x = 'Hello, Word'
print(x, type(x))

x = 2
print (x, type(x))

x = 2.5
print (x, type(x))

x = 7j
print (x, type(x))

Hello, Word <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [9]:
x = ['apple', 'banana', 'cherry']
x.append('hello')
print (x, type(x), x [1:3])

x = ['apple', 'banana', 'cherry', 'hello']
# x.append('hello')
x = ('apple', 'banana', 'cherry', 'hello')
print(x, type(x), x[1:3])

x = {'name': 'Tome', 'age': 20}  # dictionary
print(x, type(x), x['name'], x['age'])

x={'apple', 'banana', 'cherry'} # set
x.add('hello')
print(x, type(x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tome', 'age': 20} <class 'dict'> Tome 20
{'apple', 'banana', 'cherry', 'hello'} <class 'set'>