<a href="https://colab.research.google.com/github/nganphan-678/NganPhan.github.io./blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print (''Hello World'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3636707300.py, line 1)

In [2]:
score = 80
if score >= 60
    print ("Pass")

SyntaxError: expected ':' (ipython-input-4121688620.py, line 2)

In [3]:
score = 80
if score >=60 :
   print ("Pass")

Pass

In [4]:
#Python Variable
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)
print(f'x = {x, type(x)}, price={price, type(price)}, word={word, type(word)}')

2 2.5 Hello
x = (2, <class 'int'>), price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [5]:
x = 'Hello, Word'
print(x, type(x))

x = 2
print (x, type(x))

x = 2.5
print (x, type(x))

x = 7j
print (x, type(x))

Hello, Word <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [9]:
x = ['apple', 'banana', 'cherry']
x.append('hello')
print (x, type(x), x [1:3])

x = ['apple', 'banana', 'cherry', 'hello']
# x.append('hello')
x = ('apple', 'banana', 'cherry', 'hello')
print(x, type(x), x[1:3])

x = {'name': 'Tome', 'age': 20}  # dictionary
print(x, type(x), x['name'], x['age'])

x={'apple', 'banana', 'cherry'} # set
x.add('hello')
print(x, type(x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tome', 'age': 20} <class 'dict'> Tome 20
{'apple', 'banana', 'cherry', 'hello'} <class 'set'>

In [10]:
x = True
print(x, type(x))

x = b'Hello'  #bytes
print(x, type(x))

x = bytearray(5)  #bytearray
print(x, type(x))

x = memoryview(bytes(5))  #memoryview
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x78891ab41cc0> <class 'memoryview'>

In [12]:
#bmi
#input
height_cm = 163
weight_kg = 47

#process
height_m = height_cm / 100
bmi = (weight_kg / (height_m ** 2))
print('Your BMI is ', round(bmi, 2))

Your BMI is  17.69

In [13]:
#input
pv = 100
r = 0.1
n = 7

#process
fv = pv* ((1 + r)**n)
print('fv = ', round(fv, 2))

fv =  194.87

In [15]:
#input
amount = 100
interest = 10 # 10%
years = 7

#process
future_value = amount * ( (1 + interest / 100.0) ** years)
print('future_value = ', round(future_value, 2))

future_value =  194.87

In [ ]:
x = ['apple', 'banana', 'cherry'] #list
print(x, type(x))

x = ('apple', 'banana', 'cherry', 'hello') # tuple
print(x, type(x))

x = {'name': 'Tome', 'age': 20}  # dictionary
print(x, type(x), x['name'], x['age'])

x={'apple', 'banana', 'cherry'} # set
x.add('hello')
print(x, type(x))

In [16]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [19]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [20]:
#dictionary
k = {'EN': 'English', 'FR': 'French'}
print(k['EN'])

English

In [27]:
#data types
fruit = ['apple', 'banana', 'cherry']  #list []
colors = ('red', 'green', 'blue')  # tuple ()
animals = {'cat', 'dog'}  #set {}
person = {'name': 'Tom', 'age': 20}  #dict{k:v}

#list
expense = [72.5, 80.75, 50.0, 90.25]
total_expense = sum(expense)
print('Total expense = ', total_expense)

Total expense =  293.5

In [30]:
#tuple
accounts = (('Cash', 1001), ('Accounts Receinable', 1002), ('Inventory', 1003))
for account in accounts:
  print('Account Name: ', account[0], ' - Account Number: ', account[1])

Account Name:  Cash  - Account Number:  1001
Account Name:  Accounts Receinable  - Account Number:  1002
Account Name:  Inventory  - Account Number:  1003

In [35]:
#set
account_numbers = set([acc[1] for acc in accounts])  #set comprehensive
print(account_numbers)
new_acc_numbers = 1004
if new_acc_number not in account_numbers:
  print(f'Account numebr {new_acc_number} is not in use')

{1001, 1002, 1003}

NameError: name 'new_acc_number' is not defined

# **Control logic & loops**